<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <h1><%= title %></h1>
        <a href="/new">New Message</a>
    </header>

    <main>
        <div>
            <% messages.forEach(message => { %>
             <h3><%= message.user %></h3>
             <p><%= message.text %></p>
             <span><%= message.added.toDateString() %> at <%= message.added.toLocaleTimeString() %></span>
            <% }) %>
        </div>
    </main>
</body>
</html>